body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url("https://i.pinimg.com/736x/ea/5a/d8/ea5ad86cdeb2e8bf7d9a1b612188f728.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-blend-mode: overlay; 
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blueviolet
}

#description {
    font-size: 20px;
    color: steelblue
}

label {
    font-weight: 700
}

input {
    margin: 25px;
}

#submit {
    border: 10px teal double;
    border-radius: 5px;
    color: palevioletred
}

/* 
input[name="fav_pepper"] {
    margin: 0px;
} */